/**
*
* {{ properCase name }}
*
*/

import React from 'react';
// import styled from 'styled-components';
const PropTypes = require('prop-types');
import 'styles/{{ properCase name }}.less';
class {{ properCase name }} extends React.Component { // eslint-disable-line react/prefer-stateless-function
    state={};
    componentWillMount=()=>{

    };
    componentDidMount=()=>{

    };
    render=()=> {
        return (
            <div className="{{ properCase name }}Component">

            </div>
        );
    }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
